<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../static/css/style.css" />

    <title>Document</title>
  </head>
  <body>
    <h1>Listagem de Monografias</h1>
    <a href="/create-monography">
      <button>Cadastrar nova Monografia</button>
    </a>
    <ul>
      {% for monography in object_list %}
      <li>
        {{ monography.title }} -
        <a href="{% url 'edit-monography' pk=monography.id %}"
          >EDITAR MONOGRAFIA</a
        >
        |
        <a href="{% url 'delete-monography' pk=monography.id %}"
          >DELETAR MONOGRAFIA</a
        >
        |
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
